/*TANK CONTROL*/
/*
change the colour of scale of tank control.
*/
.Scale {
    --ni-foreground-color: white !important;
}
/*GRAPH*/
/*
change the colour of tick label in graph.
*/
.TickLabel .flot-x-axis text,
.TickLabel .flot-y-axis text {
    fill: white;
}
/*
change the colour of Axix label in graph.
*/
.AxixLabel text.axisLabels {
    fill: white;
}
/*
Remove border of Charts/Graphs.
*/
.RemoveBorderChart {
    border:none;
}
/*BUTTON*/
/*
Round corners on button	
*/
.RoundCorner button {
    border-radius: .5em;
}

/*
boarder around most controls.
*/
.Boarder {
    --ni-border: 2px solid white;
}
/*NUMERIC INDICATOR*/
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericControl {
    --ni-foreground-color: white !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorVti {
    --ni-foreground-color: blue !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorVte {
    --ni-foreground-color: yellow !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorMvol {
    --ni-foreground-color: red !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorRate {
    --ni-foreground-color: black !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorFio {
    --ni-foreground-color: red !important;
}
/*
Color the text on Numeric Controls or Indicator.
*/
.ColorTextNeumericIndicatorVolume {
    --ni-foreground-color: green !important;
}
/*
Remove background color from Numeric, String or Timestamp indicator.
*/
.RemoveBackgroundColourIndicator {
    --ni-indicator-background-color: transparent;
    --ni-border: none;
}
/*NUMERIC CONTROLLS*/
/*
Remove background color from Numeric, String or Timestamp Controls.
*/
.RemoveBackgroundColour {
    --ni-control-background-color: transparent;
    --ni-border: none;
}
/*STRING INDICATOR*/
/*
Color the text on String Controls or Indicators
*/
.StringTextColor {
    --ni-foreground-color: white !important;
}
/*
Remove background color from Numeric, String or Timestamp Indicators
*/
.StringIndicatorBCKTransparent {
    --ni-indicator-background-color: transparent;
    --ni-border: none
}
/*ENUM*/
/*
Change background or foreground colors on Enums
*/
.EnumColor {
   --ni-selected-background: yellow;
   --ni-selected-foreground-color: red;
}